<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    <form action='/jobcreate' method="post">
      <label for='company'>Company<label>
      <input type='text' name="company" id="company">
      <label for='title'>Title<label>
      <input type='text' name="title" id="title">
      <label for='description'>Description<label>
      <input type='text' name="description" id="description">
      <label for='start'>Start Date<label>
      <input type='date' name="start" id="start">
      <label for='end'>End Date<label>
      <input type='date' name="end" id="end">
      <button type="submit">Submit</button>
    </form>
    <h1>Jobs</h1>
      {% if jobs is not empty %}
          {% for job in jobs %}
            <ul>
              <li>Company: {{ job.getComp }}</li>
              <li>Title: {{ job.getTitle }}</li>
              <li>Description: {{ job.getDesc }}</li>
              <li>Start Date: {{ job.getStart }}</li>
              <li>End Date: {{ job.getEnd }}</li>
            </ul>
          {% endfor %}
      {% endif %}
      <form action='/session_cleared' method='post'>
        <button type='submit'>Clear All</button>
      </form>
  </body>
</html>
